<div class="bg-zinc-200 min-h-screen">
  <div *ngFor="let product of products; let index = index" class="px-6 py-4">
    <div class="md:flex items-center gap-6 bg-[#fff] px-4 py-4">
      <div>
        <img src="{{ product.image }}" alt="" />
      </div>
      <div>
        <div class="text-lg font-light w-96">{{ product.name }}</div>
        <div class="font-medium mt-3 flex gap-2 items-center">
          <div class="text-sm">Kes</div>
          <div class="text-lg">{{ product.amount }}</div>
        </div>
        <div class="text-sm font-medium mt-3">Color : {{ product.color }}</div>
        <div class="mt-3">
          <div
            *ngIf="product.available; else notAvailable"
            class="text-[#0F9134] text-xs font-medium"
          >
            In stock
          </div>
          <ng-template #notAvailable class="text-red-600 font-medium"
            >Out of stock</ng-template
          >
        </div>
        <div class="flex items-center mt-3">
          <button
            class="bg-[#F0F0F0] px-4 py-1 border border-[#A6A6A6] rounded-l font-medium"
            (click)="subtract(index)"
          >
            -
          </button>
          <div
            class="bg-[#F0F0F0] px-4 py-1 border border-t-[#A6A6A6] border-b-[#A6A6A6]"
          >
            {{ product.totalItems }}
          </div>
          <button
            class="bg-[#F0F0F0] px-4 py-1 border border-[#A6A6A6] rounded-r font-medium"
            (click)="add(index)"
          >
            +
          </button>
        </div>
      </div>
      <div class="flex gap-4">
        <button
          class="flex items-center gap-3 border border-[#A6A6A6] shadow-md rounded px-2 py-1"
          (click)="delete(index)"
        >
          <img src="/assets/delete.svg" alt="" />
          Delete
        </button>
        <button
          class="flex items-center gap-3 border border-[#A6A6A6] shadow-md rounded px-2 py-1"
        >
          <img src="/assets/save.svg" alt="" />
          Save
        </button>
      </div>
    </div>
  </div>
  <ng-template #noProduct> No products available </ng-template>
</div>
